/ViiteManageri/nbproject/private/
/ViiteManageri/build/
/viitemanageri/target/
/viitemanageri/Viiteluettelo
/viitemanageri/src/main/java/viitemanageri/Viiteluettelo
/viitemanageri/viitteetTest
/viitemanageri/viitteet1.txt
